/* Add here all your css styles (customizations) */

// Variables
@import "custom.variables";

// Mixins
@import "custom.mixins";

@import "../variables.op-architecture";

.logo-custom {
    img {
        width: 60px;
    }
}

.presentation-text {
    font: 'Open Sans';
    font-size: 14px;
    font-style: normal;
}

.fa-templated {
    color: $g-color-primary;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.text-bold {
    font-weight: bold;
}

.first-custom-dropcap {
    font-size: 3.57rem;
}

.custom-dropcap {
    font-size: 1.35rem;
    // margin-right: 1px;
}
